h1 {
	text-align: center
}			
	
body {
	margin-left: 20%;
	margin-right: 20%;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	COLOR: #666666	
}

#CS106A{
	font-style:italic;
	Color: #666666;
}

#MayaQuote
{

}

	