h1 {
	text-align: center
}			
	
body {
	margin-left: 20%;
	margin-right: 20%;
	padding: 10px 10px 10px 10px:
	font-familly: Verdana, Helvetica, Arial, sans-serif;
	COLOR: #666666	
}

#CS106A{
	font-style:italic;
}

#MayaQuote
{

}

	